[Desktop Entry]
Name=Minecraft Bedrock Server Maneger
Icon=/usr/opt/bds-maneger/mcpe.ico
Comment=Pequeno shutcurt do comando bds-maneger
Type=Application
Categories=Applications;Sirherobrine23
Exec=sudo bds-maneger
StartupNotify=false
Terminal=true