[Desktop Entry]
Name=Bds install system (Alpha)
Icon=/usr/opt/bds-maneger/mcpe.ico
Comment=Pequeno shutcurt do comando bds-install
Type=Application
Categories=Applications;Sirherobrine23
Exec=sudo bds-maneger
StartupNotify=false
Terminal=true