Package: bds-maneger-debian
Version: 1.5.6
Section: bysh23
Architecture: all
Homepage: https://github.com/Bds-Maneger/Bds-Maneger-CLI-Debian
Essential: no
Depends: screen, dos2unix, jq, zip, unzip, net-tools, bds-common, gdrive, figlet, whiptail, speedtest-cli
Conflicts: bds, bds-install
Maintainer: Matheus Sampaio Queiroga (Sirherobrine23) <srherobrine20@gmail.com>
Description: Minecraft Bedrock Server is a way for you to host your Minecraft Bedrock server in your own home or on a cloud service of your choice
 The purpose of this package is to simplify various processes from maintenance to management.
