Package: bds-maneger
Version: 1.4-9
Section: bysh23
Architecture: all
Homepage: https://github.com/Sirherobrine23/bds-maneger
Essential: no
Depends: screen, dos2unix, jq, zip, unzip, net-tools, bds-common, gdrive, figlet, whiptail
Conflicts: bds, bds-install
Maintainer: Matheus Sampaio Queiroga (Sirherobrine23) <srherobrine20@gmail.com>
Description: Pequeno script para o gerenciamento do Minecraft Bedrock Server
 Pode ser simples de usar mais tem varias funcionalidades que vai ajudar muito além de gerenciamento do Minecraft Bedrock Server
 .
 Com o tempo o software recebera pequenas novidades não muitas mais o suficiente
